@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Application

<h2>You just added @Model.Title!</h2>
<br /><br />
<a href="@Url.Action("AddMovie", "Home")" class="btn btn-secondary">Add Another Movie</a>
