@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>Get to Know Joel</h1>
<br /><br />
<a href="https://www.qwcomedy.com/">Quick Wit's Comedy Club</a><br />
<a href="https://baconsale.com/">Baconsale Site</a>
<br /><br />
<a href="https://baconsale.com/">
    <img src="~/img/baconsalekate (1).jpg" />
</a>

